
<div class="row">
	<div class="col-lg-10">
	</div>
	<div class="col-lg-2 back-menu">
		<p><%= link_to 'トップへ戻る', admin_home_top_path %></p>
		<p><%= link_to 'カテゴリへ戻る', admin_categories_path%></p>
	</div>
</div>

<div class="row search clearfix">
	<div class="col-lg-4">
	</div>
	<div class="col-lg-4 search-box">
		<p>hobbyを検索する</p>
			<%= form_tag admin_hobby_search_path, method: 'get' do %>
                     <%= text_field_tag :search, params[:search], placeholder: "hobby名" %>
                     <%= submit_tag "検索", :name => nil %>
            <% end %> <!-- 検索フォームのend -->
	</div>
	<div class="col-lg-4">
	</div>
</div>

<div class="row clearfix">
	<div class="col-lg-7">
		<div class="user-hobby-show-image">
			<%= attachment_image_tag @hobby, :hobby_image %>
		</div>
	</div>
	<div class="col-lg-5">
		<p class="hobby-name-panel">
			<%= @hobby.hobby_name %>
		</p>
		<p class="category-name">
			カテゴリ：<%= @hobby.category.category_name %>
		</p>
		<%= form_for(@hobby, url: edit_admin_hobby_path) do |f| %>
			<p>hobbyの名前　　<%= f.text_field :hobby_name %></p>
			<p>hobbyのイメージ　　<%= f.attachment_field :hobby_image %></p>
			<%= f.submit 'hobbyを編集する' %>
			<%= link_to "hobbyを削除する", admin_hobby_path(@hobby), method: :delete %>
		<% end %>
	</div>
</div>


