
<div class="row">
	<div class="col-lg-10">
	</div>
	<div class="col-lg-2 back-menu">
		<p><%= link_to 'トップへ戻る', admin_home_top_path %></p>
		<p><%= link_to 'カテゴリへ戻る', admin_categories_path%></p>
	</div>
</div>

<h4>検索結果</h4>

<div class="row clearfix content-row">
	<% @hobbies.each do |hobby| %>
		<div class="col-lg-4 content-box">
			<%= link_to admin_hobby_path(hobby.id) do %>
				<div class ="content">
					<%= attachment_image_tag hobby, :hobby_image %>
				</div>
				<div class="name">
					<%= hobby.hobby_name %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>