
<p>メインhobbyを設定する</p>
<p><%= link_to 'hobbyを新規作成する', new_user_hobby_path %></p>
<p>おすすめのhobby</p>

<p>hobbyを検索する</p>
<%= form_tag user_hobby_search_path, method: 'get' do %><!-- form_tagはDBの変更に関わらない時に使う記述 -->
     <%= text_field_tag :search, params[:search], placeholder: "hobby名" %>
     <%= submit_tag "検索", :name => nil %><!-- :name => nilが意味不明 -->
<% end %> <!-- 検索フォームのend -->

<% @randam_current_user_hobbies.each do |randam_hobby| %>
	<li>
		<p>趣味　<%= randam_hobby.hobby_name %>のユーザー</p>
	</li>
<% end %>







