<!DOCTYPE html>
<html>
  <head>
    <title>Hobbies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/993887c1d9.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
          <div class="user-header">
              <div class="logo">
                  <%= link_to 'Hobbies', user_home_index_path, :style=>"color:white;" %>
              </div>
              <nav>
                  <% if user_signed_in? %>
                      <ul class="nav-list">
                          <li class="nav-list-item">
                              <%= link_to "ユーザー名: #{current_user.last_name} #{current_user.first_name}", user_users_mypage_path(current_user), :style=>"color:white;" %>
                          </li>
                          <li class="nav-list-item">
                              <%= link_to "hobbyを登録する", user_categories_path, :style=>"color:white;" %>
                          </li>
                          <li class="nav-list-item">
                              <%= link_to "マッチング一覧", matches_user_user_path(current_user), :style=>"color:white;" %>
                          </li>
                          <li class="nav-list-item">
                              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, :style=>"color:white;" %>
                          </li>
                      </ul>
                  <% else %>
                      <ul class="nav-list">
                          <li class="nav-list-item">
                              <%= link_to "ログイン", new_user_session_path, :style=>"color:white;" %>
                          </li>
                          <li class="nav-list-item">
                              <%= link_to "新規会員登録", new_user_registration_path, :style=>"color:white;" %>
                          </li>
                      </ul>
                  <% end %>
              </nav>
          </div>
      </header>
      <div class = "container">
			<div class="top-main-visual">
			    <div class="theTarget">
			        <img src="<%= asset_path "top1.jpg" %>" style="background-image: cover">
			        <img src="<%= asset_path "top2.jpg" %>" style="background-image: cover">
			        <img src="<%= asset_path "top5.jpg" %>" style="background-image: cover">
			        <img src="<%= asset_path "top4.jpg" %>" style="background-image: cover">
			    </div>
			</div>

			<div class="top-headline">
				<h3>Hobbiesへようこそ。</h3>
				<br>
				<p>ここでは同じ趣味を持つ仲間を簡単に探す事が出来ます。</p>
				<button type="button" class="btn btn-primary btn-lg"><%= link_to "会員登録して仲間を探す", new_user_registration_path, :style=>"color:white;" %></button>
			</div>
			<br>
			<br>
			<br>
			<div class="row search clearfix">
				<div class="col-lg-6 top-introduction">
					<h4>Hobbiesとは？</h4>
					<p>Hobbiesとは、同じ趣味のユーザー同士を繋げる、マッチング型のSNSアプリケーションです。<br>単身赴任や引っ越したばかり見知らぬ土地で、友達がほしいと思った事はありませんか？<br>または自主映画の制作や猟銃射撃等、あなたのニッチな趣味を共有出来る仲間がほしいと思った事はありませんか？</p>
					<p>Hobbiesで仲間を探しましょう。</p>
				</div>
				<div class="col-lg-6 top-image">
					<%= image_tag 'top3.jpg', :size =>'500x300' %>
				</div>
			</div>
					<div class="top-how-to-use">
						<p>Hobbiesの使い方は簡単です。</p>
						<p>あなたのhobbyをどんどん追加して、気になるユーザーをフォローしましょう。<br>もし相手もあなたの事が気になれば、マッチングが成立し、お互いの所在地等、詳細な情報を確認できます。</p>
					</div>
		</div>
      <footer clearfix>
          <ul class="footer-nav-list">
              <li class="c-Hobbies">
                  <p>ⓒ2019 Hobbies</p>
              </li>
              <li class="footer-nav-list-item">
                  <%= link_to "ご利用にあたっての注意点", user_home_caution_path, :style=>"color:white;" %>
              </li>
              <li class="footer-nav-list-item">
                  <%= link_to "利用規約", user_home_terms_path, :style=>"color:white;" %>
              </li>
              <li class="footer-nav-list-item">
                  <%= link_to "プライバシーポリシー", user_home_privacy_path, :style=>"color:white;" %>
              </li>
              <li class="footer-nav-list-item">
                  <%= link_to "hobby作成のルール", user_home_rule_path, :style=>"color:white;" %>
              </li>
          </ul>
      </footer>

  </body>
</html>