
<h1>マッチング済みユーザー一覧</h1>
<p><%= link_to 'フォローしているユーザー一覧', follows_user_user_path(current_user) %></p>
<p><%= link_to 'フォローされているユーザー一覧', followers_user_user_path(current_user) %></p>

<% @users.each do |user| %>
	<div class="match-user">
		<%= link_to user_user_path(user) do %>
			<%= attachment_image_tag user, :user_icon, :fill, 150, 150, fallback: "no_image.jpg" %>
		<% end %>
		<%= user.nick_name %>
		<p><%= user.user_location %>で活動中</p>
	</div>
<% end %>