
<div class="row">
	<div class="col-lg-10">
	</div>
	<div class="col-lg-2 back-menu">
	</div>
</div>

<div class="row clearfix">
	<div class="col-lg-7">
		<div class="user-show-image">
			<%= attachment_image_tag @user, :user_icon, fallback: "no_image.jpg", size:'500x350' %>
		</div>
	</div>
	<div class="col-lg-5 clearfix">
		<h3 class="user-name-panel">
			<%= @user.nick_name %>
		</h3>
		<h3 class="user-info-panel">
			<p>活動場所　<%= @user.user_location %></p>
			<p>スタンス　<%= @user.user_stance %></p>
		</h3>
		<div class="user-mypage-menu clearfix">
			<p class="user-show-nav"><%= link_to 'プロフィール編集', edit_user_user_path(current_user) %></p>
			<p class="user-show-nav"><%= link_to 'マッチング済みユーザー', matches_user_user_path(current_user) %></p>
		</div>
		<div class="user-mypage-menu clearfix">
			<p class="user-show-nav"><%= link_to 'フォローしているユーザー', follows_user_user_path(current_user) %></p>
			<p class="user-show-nav"><%= link_to 'フォローされているユーザー', followers_user_user_path(current_user) %></p>
		</div>
	</div>
</div>

<div class="row clearfix">
	<div class="col-lg-1"></div>
	<div class="col-lg-10">
		<h4>自己紹介</h4>
		<%= @user.user_introduction %>
		<br>
		<br>
		<h4>詳細な自己紹介</h4>
		<%= @user.user_detailed_introduction %>
	</div>
	<div class="col-lg-1"></div>
</div>

<div class="row clearfix content-row">
	<h3>hobby</h3>
	<% @user.user_hobbies.each do |user_hobby| %>
		<div class="col-lg-4 content-box">
			<%= link_to user_hobby_path(user_hobby.hobby.id) do %>
				<div class="content">
					<%= attachment_image_tag user_hobby.hobby, :hobby_image %>
				</div>
				<div class="name">
					<%= user_hobby.hobby.hobby_name %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>

<div class="user-mypage-unsubscribe">
	<%= link_to '退会はこちらから', user_user_unsubscribe_path(current_user) %>
</div>