
<div class="row">
	<div class="col-lg-10">
	</div>
	<div class="col-lg-2 back-menu">
		<p><%= link_to 'カテゴリへ戻る', user_categories_path%></p>
	</div>
</div>

<div class="row search clearfix">
	<div class="col-lg-4">
	</div>
	<div class="col-lg-4 search-box">
		<p>hobbyを検索する</p>
			<div class="header-search">
                 <%= form_tag user_hobby_search_path, method: 'get' do %>
                     <%= text_field_tag :search, params[:search], placeholder: "hobby名" %>
                     <%= submit_tag "検索", :name => nil %>
                 <% end %> <!-- 検索フォームのend -->
            </div>
	</div>
	<div class="col-lg-4">
	</div>
</div>

<div class="row">
	<div class="col-lg-4"></div>
	<div class="col-lg-4 actions">
		<h3>hobbyを新規作成する</h3>
		<br>
	</div>
	<div class="col-lg-4"></div>
</div>

<%= form_for [@hobby], url: user_hobbies_path do |f| %>
	<div class="field row">
		<div class="col-lg-4"></div>
		<div class="col-lg-2">
			<p>hobbyのイメージ</p>
		</div>
		<div class="col-lg-3">
			<%= f.attachment_field :hobby_image %>
		</div>
		<div class="col-lg-3"></div>
	</div>

	<div class="field row">
		<div class="col-lg-4"></div>
		<div class="col-lg-2">
			<p>hobbyの名前</p>
		</div>
		<div class="col-lg-3">
			<%= f.text_field :hobby_name, class: "hobby_new_box" %>
		</div>
		<div class="col-lg-3"></div>
	</div>

	<div class="field row">
		<div class="col-lg-4"></div>
		<div class="col-lg-2">
			<p>hobbyのカテゴリ</p>
		</div>
		<div class="col-lg-3">
			<%= f.collection_select :category_id, Category.all, :id, :category_name, :prompt => "カテゴリを選択" %>
		</div>
		<div class="col-lg-3"></div>
	</div>

	<div class="field row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="actions">
                <%= f.submit "作成する", class:"btn btn-lg btn-primary" %>
            </div>
        </div>
        <div class="col-lg-4　hobby-new">
        	<p>※hobby名は20文字以内で入力してください。</p>
			<p>※カテゴリはhobbyの内容を表すものを選択してください。</p>
        </div>
    </div>
<% end %>
