
<div class="row">
	<div class="col-lg-10">
	</div>
	<div class="col-lg-2 back-menu">
		<p><%= link_to 'hobbyを新規作成する', new_user_hobby_path %></p>
		<p><%= link_to 'カテゴリへ戻る', user_categories_path%></p>
	</div>
</div>

<div class="row search clearfix">
	<div class="col-lg-4">
	</div>
	<div class="col-lg-4 search-box">
		<p>hobbyを検索する</p>
			<div class="header-search">
                 <%= form_tag user_hobby_search_path, method: 'get' do %>
                     <%= text_field_tag :search, params[:search], placeholder: "hobby名" %>
                     <%= submit_tag "検索", :name => nil %>
                 <% end %> <!-- 検索フォームのend -->
            </div>
	</div>
	<div class="col-lg-4">
	</div>
</div>

<div class="row clearfix">
	<div class="col-lg-7">
		<div class="user-hobby-show-image">
			<%= attachment_image_tag @hobby, :hobby_image %>
		</div>
	</div>
	<div class="col-lg-5">
		<p class="hobby-name-panel">
			<%= @hobby.hobby_name %>
		</p>
		<p class="category-name">
			カテゴリ：<%= @hobby.category.category_name %>
		</p>
		<div id="user_hobbies_buttons">
			<!--　ここで部分テンプレート_user_hobbyを呼び出す localsで部分テンプレートで使う変数を指定　部分テンプレート内でアクションが実行された際にjsファイルを呼び出す -->
		 	<%= render partial: 'user_hobby', locals: { hobby: @hobby, user_hobbies: @user_hobbies} %>
		</div>
	</div>
</div>

<div class="row clearfix content-row">
	<% @user_hobbies.each do |user_hobby| %>
		<div class="col-lg-4 content-box">
			<div class ="content">
				<%= link_to user_user_path(user_hobby.user.id) do %>
					<%= attachment_image_tag user_hobby.user, :user_icon, fallback: "no_image.jpg" %>
				<% end %>
			</div>
			<div class="name">
				<%= link_to user_user_path(user_hobby.user.id) do %>
					<%= user_hobby.user.nick_name %>
				<% end %>
			</div>
			<p><%= user_hobby.user.user_location %>で活動中</p>
			<%= link_to truncate("#{user_hobby.user.user_introduction}", length: 20, omission:"..."), user_user_path(user_hobby.user) %>
		</div>
	<% end %>
</div>
