
<div class="row">
	<div class="col-lg-10">
	</div>
	<div class="col-lg-2 back-menu">
		<p><%= link_to 'トップへ戻る', admin_home_top_path %></p>
		<p><%= link_to 'カテゴリへ戻る', admin_categories_path%></p>
	</div>
</div>

<div class="row clearfix">
	<div class="col-lg-7">
		<div class="user-hobby-show-image">
			<%= attachment_image_tag @category, :category_image %>
		</div>
	</div>
	<div class="col-lg-5">
		<p class="hobby-name-panel">
			<%= @category.category_name %>
		</p>
		<%= form_for(@category, url: admin_category_path) do |f| %>
			<p>カテゴリの名前　　<%= f.text_field :category_name %></p>
			<p>カテゴリのイメージ　　<%= f.attachment_field :category_image %></p>
			<%= f.submit 'カテゴリを編集する' %>
			<%= link_to "カテゴリを削除する", admin_category_path(@category), method: :delete %>
		<% end %>
	</div>
</div>
<br>
<br>
<br>
<br>



