
<div class="row">
	<div class="col-lg-10">
	</div>
	<div class="col-lg-2 back-menu">
		<p><%= link_to 'トップへ戻る', admin_home_top_path %></p>
	</div>
</div>

<div class="row clearfix">
	<div class="col-lg-4">
	</div>
	<div class="col-lg-4 search-box">
		<p>hobbyを検索する</p>
			<%= form_tag admin_hobby_search_path, method: 'get' do %>
                     <%= text_field_tag :search, params[:search], placeholder: "hobby名" %>
                     <%= submit_tag "検索", :name => nil %>
            <% end %> <!-- 検索フォームのend -->
	</div>
	<div class="col-lg-4">
	</div>
</div>

<div class="headline">
	<p>hobbyをカテゴリから選ぶ</p>
</div>

<div class="row clearfix content-row">
	<% @categories.each do |category| %>
		<div class="col-lg-4 content-box">
			<%= link_to admin_category_path(category.id) do %>
				<div class ="content">
					<%= attachment_image_tag category, :category_image %>
				</div>
				<div class="name">
					<%= category.category_name %>
				</div>
			<% end %>
			<%= link_to "カテゴリを編集する", edit_admin_category_path(category), :style=>"text-align: right;" %>
		</div>
	<% end %>
</div>

